* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "HallymGothic-Regular";
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }

#Wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: beige;
}
.titleMessage {
    position: relative;
    margin: 20px;
    font-size: 12px;
    
}
.main{
    font-size: 200px;


    width: 1000px;
   margin: 50px auto;
}
.titlebox{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    
  }
  


/* main */
.container{
    /* background-color: white; */
}
.huntWrapper{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 50px;
}
.statusWrapper .status{
    text-align: center;
}
.status .hp img{
    width: 300px;
    height: 50px;
}
.cardimg img{
    width: 300px;
}

.action{
    width: 1000px;
}
.actionWrapper{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.userEffect>.UEImg{
    width:200px;

    visibility: hidden;
   
    float: left;
    transition: all 5s;
    
}

.monsterEffect>.MEImg{
    width: 200px;
    visibility: hidden;
  
    transition: all 5s;
    
 
}
.btnBox{
    margin:  200px 35%;
}
.btnBox button{
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    background-color: brown;
    border-radius: 10px;
    color: yellow;
}
.btnBox button:hover{
    cursor: url("/img/pointer_cur.png"), auto;
}
/* huntResultPage */
.result{
    width: 400px;
   

    /* background-color: aliceblue; */
    margin: 150px auto;
    text-align: center;
    ;
    font-size: 30px;
    font-weight: bold;
}
.buttonBox{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    
}
.buttonBox div .resultBtn{
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    background-color: brown;
    border-radius: 10px;
    color: yellow;
}

