<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        jQuery(function($) {
            $("body").css("display", "none");
            $("body").fadeIn(2000);
            $("a.transition").click(function(event){
                event.preventDefault();
                linkLocation = this.href;
                $("body").fadeOut(1000, redirectPage);
            });
            function redirectPage() {
                window.location = linkLocation;
            }
        });
    </script>

    <link rel="stylesheet" href="/css/hunt.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
</head>

<body>
<div id="Wrapper10">
    <div id="title">
        <p class="titleMessage" onclick="location.href='/index.html'">소드마스터의 시대가 오고있다!</p>
    </div>
    <div class="titlebox">
        <h1>Aberrus</h1>
    </div>

    <div class="container">
        <ul class="huntWrapper">
            <div class="statusWrapper">
                <div class="status">
                    <h2 th:text="${integrateUserAttackDTO.getUserAttackDTO().getUserInfoDTO().getName()}"></h2>

                </div>
                <div class="cardimg">
                    <img src="/img/card/소드마스터%20카드.png" alt="">
                    <div class="userStatus">
                        <p class="userLevel" th:text="'Level : '+${integrateUserAttackDTO.getUserAttackDTO().getUserInfoDTO().getUserLevel()}">1</p>
                        <p class="userLevel" th:text="'STR : '+${integrateUserAttackDTO.getUserAttackDTO().getUserInfoDTO().getTotalSTR()}">1</p>
                        <p class="userLevel" th:text="'TYPE : '+${integrateUserAttackDTO.getUserAttackDTO().getUserInfoDTO().getElementalType()}">1</p>

                    </div>
                </div>
            </div>
            <div class="action">
                <div class="actionWrapper">
                    <div class="userEffect">
                        <img src="/img/fire.png" alt="" class="UEImg">
                    </div>
                    <div class="monsterEffect">
                        <img src="/img/water.png" alt="" class="MEImg">
                    </div>
                </div>
                <div class="btnBox">
                    <div>
                        <form action="/attack/attackButton?mapId=1" method="post">
                            <button id="attack" type="submit">Attack</button>
                        </form>
                    </div>
                    <div>
                        <button onclick="location.href='/map'">Run</button>
                    </div>
                </div>

            </div>
            <div class="statusWrapper">
                <div class="status">
                    <h2 th:text="${ integrateMonsterAttackDTO.getMonsterAttackDTO().getMonster().getMonsterName() }"></h2>


                </div>
                <div class="cardimg">
                    <img th:src="'/img/card/'+ ${ integrateMonsterAttackDTO.getMonsterAttackDTO().getMonster().getMonsterSequence() } +'.png'" alt=""/>
                    <div class="userStatus">

                        <p class="userLevel" th:text="'STR : '+${integrateMonsterAttackDTO.getMonsterAttackDTO().getMonster().getMonsterPower()}">1</p>
                        <p class="userLevel" th:text="'TYPE : '+${integrateMonsterAttackDTO.getMonsterAttackDTO().getMonster().getElementalType().toString()}">1</p>


                    </div>
                </div>
            </div>
        </ul>
    </div>

</div>
</body>
</html>